<center><h1>Técnicas de Inteligencia Artificial</header1></center>

Presentado por: Dario Idrovo Guerrero  <br>
Fecha: 18/07/2022

# Importación de librerias necesarias

In [1]:
#Importación de las siguientes librerías:
import pandas as pd
import numpy as np

#Importar codificador de etiquetas
from sklearn import preprocessing
#Importar libreria de regresion lineal 
from sklearn.linear_model import LinearRegression

## Cargar el Dataset

In [2]:
#Código para cargar el Dataset
detalles = pd.read_csv("CAR_DETAILS.csv")
detalles.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0

In [3]:
detalles.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [5]:
# objeto label_encoder sabe cómo entender las etiquetas de palabras
label_encoder = preprocessing.LabelEncoder()

# Codificar etiquetas en la columna 'Car_Name', 
# esta nueva etiqueta se denomina 'Car_Types_Name' y se la guarada en una nueva columna
detalles['Car_Name_Trans'] = label_encoder.fit_transform(detalles['Car_Name'])
detalles['Fuel_Type_Trans'] = label_encoder.fit_transform(detalles['Fuel_Type'])
detalles['Seller_Type_Trans'] = label_encoder.fit_transform(detalles['Seller_Type'])
detalles['Transmission_Trans'] = label_encoder.fit_transform(detalles['Transmission'])
detalles.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Name_Trans,Fuel_Type_Trans,Seller_Type_Trans,Transmission_Trans
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,90,2,0,1
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,93,1,0,1
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,68,2,0,1
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,96,2,0,1
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,92,1,0,1
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0,95,1,0,1
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0,68,2,0,1
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0,91,1,0,1
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0,68,1,0,1
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0,68,1,0,1

## Descripción de la fuente del Dataset

Este conjunto de datos contiene información sobre autos usados. Estos datos se pueden usar para muchos propósitos, como la predicción de precios para ejemplificar el uso de la regresión lineal en el aprendizaje automático.

- Variable y
    
    * Selling_Price: Precio de venta del auto


- Variable x
    
    * Car_Name: Nombre del auto
    * Year: Año en que se compro el auto
    * Present_Price: Precio del auto en la sala de exposicion
    * Kms_Driven: Distancia recorrida por el auto en Km
    * Fuel_Type: Tipo de combustible del coche
    * Seller_Type: Tipo de vendedor(Distribuidor/Particular)
    * Transmission: Transmision del auto(Manual/Automatica)
    * Owner: Numero de propietarios que ha tenido del coche
    
    Nota: Se tranforman datos string a numericos por ser categoricos, para no obtener problemas mas adelante en su ejecucion

## Explique el problema a resolver. 
Se requiere crear un modelo de aprendizaje automatico, el cual permita predecir el precio adecuado de un automovil en funcion de sus especificaciones. Para realizar se hace uso del dataset descrito en el apartado anterior, el cual contiene 301 samples. Donde, la variable objetivo se denomina **"Selling_Price"**. Existen 8 variables de entradas las cuales son: **Car_Name**,**Year**,**Present_Price**,**Kms_Driven**,**Fuel_Type**,**Seller_Type**,**Transmission** y **Owner**. Cabe destacar que se transforman datos para la implementacion de los procesos que se realicen.

## Caracterización del Dataset

   # Número de instancias en total.

In [6]:
#Se cuentan los registros del dataset.
detalles.count()

Car_Name              301
Year                  301
Selling_Price         301
Present_Price         301
Kms_Driven            301
Fuel_Type             301
Seller_Type           301
Transmission          301
Owner                 301
Car_Name_Trans        301
Fuel_Type_Trans       301
Seller_Type_Trans     301
Transmission_Trans    301
dtype: int64

### Número de atributos de entrada, su significado y tipo

   * Car_Name: Nombre del auto
   * Year: Año en que se compro el auto
   * Present_Price: Precio del auto en la sala de exposicion
   * Kms_Driven: Distancia recorrida por el auto en Km
   * Fuel_Type: Tipo de combustible del coche
   * Seller_Type: Tipo de vendedor(Distribuidor/Particular)
   * Transmission: Transmision del auto(Manual/Automatica)
   * Owner: Numero de propietarios que ha tenido del coche

In [7]:
#Muestra la informacion, se incluye el tipo de datos de los 8 atributos de entrada
detalles.drop('Selling_Price', axis=1).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Car_Name            301 non-null    object
 1   Year                301 non-null    int64
 2   Present_Price       301 non-null    float64
 3   Kms_Driven          301 non-null    int64
 4   Fuel_Type           301 non-null    object
 5   Seller_Type         301 non-null    object
 6   Transmission        301 non-null    object
 7   Owner               301 non-null    int64
 8   Car_Name_Trans      301 non-null    int32
 9   Fuel_Type_Trans     301 non-null    int32
 10  Seller_Type_Trans   301 non-null    int32
 11  Transmission_Trans  301 non-null    int32
dtypes: float64(1), int32(4), int64(3), object(4)
memory usage: 23.6+ KB

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

In [9]:
#Variables objetivos y variables de entrada
VariableObjetivo=['Selling_Price']
VariablesEntrada=['Car_Name_Trans', 'Year', 'Present_Price', 'Kms_Driven', 'Fuel_Type_Trans', 'Seller_Type_Trans', 'Transmission_Trans', 'Owner']

#Transformación de las caracteristicas
X=detalles[VariablesEntrada].values
Y=detalles[VariableObjetivo].values

In [10]:
#Estandarización de los datos
from sklearn.preprocessing import StandardScaler
VariablesEntrada_Scaler=StandardScaler()
VariableObjetivo_Scaler=StandardScaler()

In [11]:
#Almacenamiento del objeto de ajuste para referencia posterior
VariablesEntrada_Fit=VariablesEntrada_Scaler.fit(X)
VariableObjetivo_Fit=VariableObjetivo_Scaler.fit(Y)

In [12]:
#Generación de los valores estandarizados de X e y
X=VariablesEntrada_Fit.transform(X)
Y=VariableObjetivo_Fit.transform(Y)